<table id="tblContainer" data-ng-controller="signuprequestController">
    <tr>
        <td>
            <table class="table-bordered">
                <tr>
                    <th class="col-md-10">Owner</th>
                    <th class="col-md-10">Company</th>
                    <th class="col-md-10">Email</th>
                    <th></th>
                    <th></th>
                </tr>
                <tbody data-ng-repeat="stud in ProductOwner">
                    <tr>
                        <td class="col-md-10"><span>{{stud.ownerName}}</span></td>
                        <td class="col-md-10"><span>{{stud.companyName}}</span></td>
                        <td class="col-md-10"><span>{{stud.email}}</span></td>
                        <td>
                            <input type="button" id="Aproove" value="Aproove" data-ng-click="get(stud)" />
                        </td>

                        <td>
                            <input type="button" id="Delete" value="Delete" data-ng-click="delete(stud)" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="color: red;">{{Message}}</div>
        </td>
    </tr>
</table>