<form class="form-login" role="form" id="ProductOwner">
    <h2 class="form-group">Sign up</h2>
    <table>
        <tr>
            <td><span>Email</span></td>
            <td>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="registration.userName" readonly="readonly" autofocus>
            </td>
        </tr>
        <tr>
            <td><span>Description</span></td>
            <td>
                <input type="text" class="form-control" placeholder="Description" data-ng-model="registration.description" required>
            </td>
        </tr>
        <tr>
            <td><span>Founded In</span></td>
            <td>
                <input type="datetime" class="form-control" placeholder="Founded In" data-ng-model="registration.foundedIn" required>
            </td>
        </tr>
        <tr>
            <td><span>Street1</span></td>
            <td>
                <input type="text" class="form-control" placeholder="Street1" data-ng-model="registration.street1" required>
            </td>
        </tr>
        <tr>
            <td><span>Street2</span></td>
            <td>
                <input type="text" class="form-control" placeholder="Street2" data-ng-model="registration.street2" required>
            </td>
        </tr>
        <tr>
            <td><span>City</span></td>
            <td>
                <input type="text" class="form-control" placeholder="City" data-ng-model="registration.city" required>
            </td>
        </tr>
        <tr>
            <td><span>State</span></td>
            <td>
                <input type="text" class="form-control" placeholder="State" data-ng-model="registration.state" required>
            </td>
        </tr>
        <tr>
            <td><span>Country</span></td>
            <td>
                <input type="text" class="form-control" placeholder="Country" data-ng-model="registration.country" required>
            </td>
        </tr>
        <tr>
            <td><span>PIN</span></td>
            <td>
                <input type="number" class="form-control" placeholder="PIN" data-ng-model="registration.pin" required>
            </td>
        </tr>
        <tr>
            <td><span>Contact Number</span></td>
            <td>
                <input type="text" class="form-control" placeholder="Contact Number" data-ng-model="registration.contactNumber" required>
            </td>
        </tr>
        <tr>
            <td><span>Website URL</span></td>
            <td>
                <input type="text" class="form-control" placeholder="Website URL" data-ng-model="registration.websiteURL" required>
            </td>
        </tr>
        <tr>
            <td><span>Twitter Handler</span></td>
            <td>
                <input type="text" class="form-control" placeholder="TwitterHandler" data-ng-model="registration.twitterHandler" required>
            </td>
        </tr>
        <tr>
            <td><span>Facebook Page URL</span></td>
            <td>
                <input type="text" class="form-control" placeholder="Facebook page URL" data-ng-model="registration.facebookPageURL" required>
            </td>
        </tr>
        <tr>
            <td><span>DOB</span></td>
            <td>
                <input type="text" class="form-control" placeholder="DOB" data-ng-model="registration.dateOfBirth" required>
            </td>
        </tr>

        <tr>
            <td><span>Password</span></td>
            <td>
                <input type="password" class="form-control" placeholder="Password" data-ng-model="registration.password" required>
            </td>
        </tr>
        <tr>
            <td><span>Confirm Password</span></td>
            <td>
                <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
            </td>
        </tr>
    </table>
    <button class="btn btn-info" type="submit" ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>

