<table id="tblContainer" data-ng-controller="enduserproductController">
    <tr>
        <td>
            <table class="table-bordered">
                <tr>
                    <th class="col-md-10">Name</th>
                    <th></th>
                    <th></th>
                </tr>
                <tbody data-ng-repeat="stud in EndUser" ng-show="stud.assigned">
                    <tr>
                        <td class="col-md-10"><span>{{stud.productName}}</span></td>
                        <td>
                            <input type="button" id="AddUpdate" value="View Update" data-ng-click="addupdate(stud)" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
