
<table id="tblContainer" data-ng-controller="endusermediaController">
    <!--@*
    <table id="tblContainer" data-ng-controller="CRUD_OperController">
        *@-->
    
    <tr>
        <td>
            <table class="table-bordered">
                <!--<tr style="height: 30px; background-color: skyblue; color: maroon;">-->
                <tr>
                    <!--<th class="col-md-10">ID</th>-->
                    <th class="col-md-10">Media Name</th>
                </tr>
                <tbody data-ng-repeat="media in Media">
                    <tr>
                        <!--<td class="col-md-10"><span>{{media.mediaID}}</span></td>-->
                        <td class="col-md-10"><span>{{media.mediaName}}</span></td>
                    </tr>
                </tbody>
            </table>

        </td>
    </tr>
  </table>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="app/app.js"></script>
<script src="app/services/endusermediaService.js"></script>
<script src="app/controllers/endusermediaController.js"></script>
